/Users/jcsousa/PycharmProjects/imagesimilarity-OpenAICLIP/CLIP.py
/Users/jcsousa/PycharmProjects/imagesimilarity-OpenAICLIP/SIFT.py
/Users/jcsousa/PycharmProjects/imagesimilarity-OpenAICLIP/vgg.py
/Users/jcsousa/PycharmProjects/imagesimilarity-OpenAICLIP/images
/Users/jcsousa/PycharmProjects/image-similarity-allinone/venv